/* Style-sheet to use for manuals (copied from Emacs) */

@import url('/style.css');

/* makeinfo 6.5 converts @quotation to <blockquote>.  Highlight them.  */
blockquote {
    font-style: normal;
    border-left: solid 10px red;
    padding-left: 2.5%;
    margin-left: 0px;
}

/* Increase inter-line spacing to improve readability.  */
p, pre, li, dt, dd, table, code, address { line-height: 1.5em; }

var { font-style: italic; }

/* Lay out @lisp just like @example.  Copied from what /style.css
   does for the 'example' class.  */
div.lisp { padding: .8em 1.2em .4em; }
pre.lisp { padding: .8em 1.2em; }
div.lisp, pre.lisp {
   margin: 1em 0 1em 3% ;
   -webkit-border-radius: .3em;
   -moz-border-radius: .3em;
   border-radius: .3em;
   border: 1px solid #d4cbb6;
   background-color: #f2efe4;
}
div.lisp > pre.lisp {
   padding: 0 0 .4em;
   margin: 0;
   border: none;
}

/* makeinfo 6.7 uses <div class="header"> for navigation links above node
   titles.  Make those links less prominent.  */
.header {
    line-height: 2em;
    font-size: 80%;
    font-weight: lighter;
    color: #433;
}

/* Make the title and node titles more visible.  Optionally use Fira Sans,
   if available, which is more pleasant and more compact than Helvetica.  */
.settitle, .top, .chapter {
    font-family: Fira Sans, sans;
    font-size: 300%;
}
.section, .subsection, .subsubsection { 
    font-family: Fira Sans, sans;
    font-size: 200%; 
}

/* ----- coreutils specific styling ----- */

/* layout.css indents "body p" when it should probably only indent "body > p"?
   In any case, disable indenting of p in these sub elements.  */
dd p,li p {
    margin-left: 0;
    margin-right: 0;
}

/* underlined links are distracting, especially within outlined tables.  */
a { /*add :link for external links*/
    text-decoration: none; /* don't underline links by default */
    outline-style: none;   /* don't put dotted box around clicked links */
}
a:hover {
    text-decoration: underline;
}

body {
    /* The shadow around the body is distracting.  */
    box-shadow: 0 0 0 0;

    /* Make sure the body doesn't become to wide: long lines are hard to
       read.  */
    max-width: 45em;
}
